@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0) 0%, rgba(25, 25, 25) 100%);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.maxw {
    max-width: 60rem;
    width: 100%;
    padding-inline: 50px !important;
}

header {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    user-select: none;
}

.title {
    margin: 20vh 0 calc(20vh + 30px);
    font-size: 6vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, dimgrey, whitesmoke, dimgrey);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line {
    width: 35vmin;
    height: 3px;
    margin: 20px;
    border: none;
    background: linear-gradient(to right, darkgrey, whitesmoke, darkgrey);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    position: fixed;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, darkgrey, whitesmoke, darkgrey);
    padding: 15px 0;
    backdrop-filter: blur(15px);
}

.maxw a {
    margin-inline: 10px;
}

nav .maxw {
    display: flex;
    justify-content: flex-end;
    padding-inline: 10px !important;
}

a {
    margin: 10px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.4rem;
    transition: transform 0.3s;
}

a:hover {
    transform: scale(1.1);
}

.innersection {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-section {
    background: linear-gradient(to right, lightgrey, whitesmoke, lightgrey);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


.innersection .line {
    width: 50%;
    margin: 50px;
    max-width: 40rem;
}

h2 {
    font-size: 2rem;
    margin: 30px 0;
}

p {
    font-size: 1.3rem;
    margin: 20px 0;
    display: block;
}

footer {
    width: 100%;
    height: fit-content;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, darkgrey, whitesmoke, darkgrey);
    margin-top: auto;
}

footer .maxw {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
}

@media (max-width: 600px) {
    footer .maxw {
        flex-direction: column;
    }
}

footer h3{
    font-size: 1.5rem;
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer .line {
    width: 14vmin;
    margin: 15px auto;
}

.project {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(105, 105, 105, 0.1), rgba(169, 169, 169, 0.1));
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}